h1 {
font-family: Times New Roman;
  color: #008B8B;
}
h2 {
font-family: Times New Roman;
  color: #F08080;
}
p {
  font-family: "Gill Sans", sans-serif;
}
li {
  font-family: "Gill Sans", sans-serif;
}
body {
  background-color: #B0C4DE;
}
